.container-1 {
  border: 2px solid black;
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-1 div {
    padding:10px;
    border: 1px solid black;
    flex-wrap: wrap;
    align-items: center;
}
